.projects-section-wrapper
  .projects-nav
    .projects-nav__title
    .projects-nav__filters-wrapper
      include projectsButton

script(type='text/javascript')
  include ../../js/projects/projects.js