.articles-wrapper
  .articles__header
    .articles__type Blog
    .articles__title-and-image
      .articles__title How to organize your CSS
      .articles__image-wrapper
        img(src='assets/images/A_small_cup_of_coffee.jpg')
  .articles__descr
    p In this article I tell the story about Proin eu justo sit amet lacus bibendum tincidunt. Vivamus non volutpat nisl, a luctus mi.
    p Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque feugiat malesuada molestie.
  .articles__article-link
    a(href='#') dev.to
