.projects-pagination__page-control-wrapper {
  width: 36px;
  height: 36px;
  min-width: 36px;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border: 1px solid $button-border-color-base;
  border-radius: $button-container-radius-s;

  //img {
  //  max-width: 70%;
  //}
  //
  //&_left {
  //  transform: rotateY(180deg);
  //}
  //
  //&:hover {
  //  background-color: $background-color-blue;
  //  border-color: transparent;
  //}
}