div.person-profile-wrapper
  div.person-profile__img
  div.person-profile__info
    div.person-profile__personal
      div.person-profile__fullname-and-position
        div.person-profile__fullname Kendrick Lamar
        div.person-profile__position Front-end developer
      div.person-profile__contacts
        div.person-profile__contact-type-wrapper
          div.person-profile__contact-icon
            img(src='assets/icons/mail.svg')
          div.person-profile__contact-value billy@example.com
        div.person-profile__contact-type-wrapper
          div.person-profile__contact-icon
            img(src='assets/icons/phone.svg')
          div.person-profile__contact-value (+603) 546 624 342
    div.person-profile__about
      p Self-motivated developer, who is willing to learn and create outstanding UI applications.
      p Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque feugiat malesuada molestie.