.person-profile-wrapper.bottom-middle-shadow
  .person-profile__img
  .person-profile__info
    .person-profile__personal
      .person-profile__fullname-and-position
        .person-profile__fullname Kendrick Lamar
        .person-profile__position Front-end developer
      .person-profile__contacts
        .person-profile__contact-type-wrapper
          .person-profile__contact-icon
            img(src='assets/icons/mail.svg')
          .person-profile__contact-value billy@example.com
        .person-profile__contact-type-wrapper
          .person-profile__contact-icon
            img(src='assets/icons/phone.svg')
          .person-profile__contact-value (+603) 546 624 342
    .person-profile__about
      p Self-motivated developer, who is willing to learn and create outstanding UI applications.
      p Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque feugiat malesuada molestie.