@import "~normalize.css";
@import "~modern-css-reset";

@import "@styles/fonts/montserrat.scss";

@import "@styles/consts/consts";
@import "@styles/base/container.scss";
@import "@styles/base/bottom-middle-shadow.scss";

@import "components/components.scss";

body {
  font-family: "MontserratMedium", sans-serif;

  color: $base-text-color;

  background-color: $background-color-light-gray;

  margin-top: 70px;
}

@media screen and (max-width: 1110px) {
  body {
    margin-top: 40px;
  }
}