$base-color: crimson;
$border-dark: rgba($base-color, 0.88);
$border: 1px solid $border-dark;

.box {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: $border;

  h2 {
    text-align: center;
    color: orange;
  }
}