@import "montserrat.css";
@import "~normalize.css";

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

p {
  font-size: 40px;
  color: darkslateblue;
}

.logo {
  background-image: url("../assets/images/photo_2022-06-17_23-16-17.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}