@import "skill";

.hard-skills-wrapper {
  grid-area: skills;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 17px;

  padding: 25px;
  border-radius: $section-container-radius;
  box-sizing: border-box;

  background-color: $background-color-white;
  position: relative;
}
.hard-skills__title {
  font-family: 'MontserratBold', sans-serif;
  font-size: 18px;
  line-height: 22px;
}
.hard-skills__skill {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  gap: 20px;
}