mixin paginationArrows(direction)
  if direction === 'left'
    .projects-pagination__page-control-wrapper.projects-pagination__page-control-wrapper_left
        include ../icons/arrow
  else if direction === 'right'
    .projects-pagination__page-control-wrapper
      include ../icons/arrow