mixin pagination-arrows(direction)
  if direction === 'left'
    .projects-pagination__page-control-wrapper
      //img(src='assets/icons/arrow.svg')
      include ../icons/arrow
  else if direction === 'right'
    .projects-pagination__page-control-wrapper
      //img(src='assets/icons/arrow.svg')