doctype html
html(lang="en")
  head
    title='Portfolio'

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="icon", href="assets/favicon.ico" type="image/icon")

  body
    .container
      .content-wrapper
        include components/person-profile/person-profile
        include components/hard-skills/hard-skills
